<div class="row">
    <div class="col-lg-12">
        <div class="">
            <p><?= ''; //$message;  ?></p>
            <div class="panel panel-info row">
                <div id="environment-table-header-wrapper" class="panel-heading col-lg-12 no-padding-vert"><strong><span class="glyphicon glyphicon-object-align-left"></span>   Oroboros System Build Progress</strong>
                    <div id="controls" class="col-lg-6 pull-right no-padding">
                        <div class="col-lg-6 pull-right no-padding">
                            <div class="navbar-header pull-right no-padding">
                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#environment-table-menu">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                                <nav id="environment-table-menu" class="navbar no-padding-vert no-margin-vert">
                                    <div class="row no-margin">
                                        <div class="col-lg-12 navbar-collapse no-padding no-margin" id="environment-table-navbar">
                                            <ul class="nav navbar-nav">
                                                <li>
                                                    <a href="#" title="Home"><span class="glyphicon glyphicon-home"></span></a>
                                                </li>
                                                <li>
                                                    <a href="#" title="Import Settings"><span class="glyphicon glyphicon-cloud-download"></span></a>
                                                </li>
                                                <li>
                                                    <a href="#" title="Advanced Settings"><span class="glyphicon glyphicon-cog"></span></a>
                                                </li>
                                                <li>
                                                    <a href="#" title="Start Over"><span class="glyphicon glyphicon-trash"></span></a>
                                                </li>
                                            </ul>
                                        </div>
                                        <!-- /.navbar-collapse -->
                                    </div>
                                </nav>                           
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-body no-margin no-margin-vert no-padding-vert">
                    <div id="environment-table" class="row row-no-padding row-no-padding-vert cols-no-padding cols-no-padding-vert">
                        <div class="col-lg-12">
                            <div class="progress square no-margin-vert">
                                <div id="environment-progress" class="progress-bar progress-bar-striped active" role="progressbar"
                                     aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width:0%"></div>
                            </div>
                            <div class="table-responsive">
                                <table id="environment-results" class="table table-bordered table-hover no-margin-vert">
                                    <thead class="thead-default">
                                        <tr class="active">
                                            <th scope="row" class="category col-lg-1"></th>
                                            <th scope="row" class="taskname col-lg-2">Task</th>
                                            <th class="status col-lg-1">Status</th>
                                            <th class="diagnosis col-lg-1">Diagnosis</th>
                                            <th class="notes col-lg-8">Notes</th>
                                        </tr>
                                    </thead>
                                    <tbody class="striped"></tbody>
                                </table>
                            </div>
                        </div>
                    </div> 
                </div>

            </div>
<?= $this->form('nav'); ?>
        </div>
    </div>
</div>