<div class="row">
    <div class="col-lg-12">
        <div id="subsection-navigation">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#intro" data-toggle="tab">Intro</a></li>
                <li><a href="#readme" data-toggle="tab">Readme</a></li>
                <li><a href="#changelog" data-toggle="tab">Changelog</a></li>
                <li><a href="#links" data-toggle="tab">Links</a></li>
                <li><a href="#acknowlegments" data-toggle="tab">Acknowledgments</a></li>
            </ul>
            <div class="tab-content">
                <div id="intro" class="tab-pane fade in active"><div class="col-lg-12"><blockquote class="no-margin-vert">
                            <div class="container">
                                <h2>Masonry Grid</h2>
                                <div id="intro-options" class="row grid">
                                    <div class="col-xs-4 tile-element">
                                        <div class="heading bg-primary">
                                            <h4>OroborosJS</h4>
                                        </div>
                                        <div class="content">
                                            <p>This is some text content in the content area of the masonry element.</p>
                                        </div>
                                        <div class="control"></div>
                                    </div>    
                                    <div class="col-xs-4 masonry-tile">
                                        <div class="heading bg-primary">
                                            <h4>OroborosJS</h4>
                                        </div>
                                        <div class="content">
                                            <p>This is some text content in the content area of the masonry element.</p>
                                        </div>
                                        <div class="control"></div>
                                    </div>    
                                    <div class="col-xs-4 masonry-tile">
                                        <div class="heading primary">
                                            <h4>OroborosJS</h4>
                                        </div>
                                        <div class="content">
                                            <p>This is some text content in the content area of the masonry element.</p>
                                        </div>
                                        <div class="control"></div>
                                    </div>    
                                    <div class="col-xs-4 masonry-tile">
                                        <div class="heading primary">
                                            <h4>OroborosJS</h4>
                                        </div>
                                        <div class="content">
                                            <p>This is some text content in the content area of the masonry element.</p>
                                        </div>
                                        <div class="control"></div>
                                    </div>    
                                    <div class="col-xs-4 masonry-tile">
                                        <div class="heading primary">
                                            <h4>OroborosJS</h4>
                                        </div>
                                        <div class="content">
                                            <p>This is some text content in the content area of the masonry element.</p>
                                        </div>
                                        <div class="control"></div>
                                    </div>    
                                    <div class="col-xs-4 masonry-tile">
                                        <div class="heading primary">
                                            <h4>OroborosJS</h4>
                                        </div>
                                        <div class="content">
                                            <p>This is some text content in the content area of the masonry element.</p>
                                        </div>
                                        <div class="control"></div>
                                    </div>    
                                       
                                </div>
                            </div>
                        </blockquote></div></div>
                <div id="readme" class="tab-pane fade"><div class="col-lg-12"><blockquote class="no-margin-vert"><p><?= $this->_markdown(OROBOROS_BASEPATH . 'README.md'); ?></p></blockquote></div></div>
                <div id="changelog" class="tab-pane fade"><div class="col-lg-12"><blockquote class="no-margin-vert"><p><?= $this->_markdown(OROBOROS_BASEPATH . 'CHANGELOG.md'); ?></p></blockquote></div></div>
                <div id="links" class="tab-pane fade"><div class="col-lg-12"><blockquote class="no-margin-vert"><p><?= $this->_markdown(OROBOROS_BASEPATH . 'LINKS.md'); ?></p></blockquote></div></div>
                <div id="acknowlegments" class="tab-pane fade"><div class="col-lg-12"><blockquote class="no-margin-vert"><p><?= $this->_markdown(OROBOROS_BASEPATH . 'ACKNOWLEDGMENTS.md'); ?></p></blockquote></div></div>
            </div>
        </div>
        <?= $this->form('nav'); ?>
    </div>
</div>