<div class="row">
    <div class="col-lg-12">
        <div class="">
            <div id="license">
                <blockquote><?= $this->_markdown(file_get_contents(OROBOROS_BASEPATH . 'LICENSE.md')); ?></blockquote>
            </div>
<?= $this->_form('license'); ?>
        </div>
    </div>
</div>