<div class="row">
    <div class="col-lg-12">
        <div class="">
            <p><?= '';// print_r($this->_getParam('data'), 1); ?></p>
<?php 
$form = $this->form($this->pagename());
if ($form) { print $form;} else {print $this->_form('nav');} ?>
        </div>
    </div>
</div>