<div class="header-spacer row"></div>
<?php
//load the form wizard if not on the splash page
if (!in_array($this->pagename(), ['welcome'])):?>    <nav id="progress-hud" class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <ul class="no-padding"><?php ?>
    <?php foreach ($this->_getParam('steps_all') as $key => $step): ?>
    <?php if ($step['render'] && !($key == 'welcome')): ?>
                <li class="<?= (($this->pagename() == $key) ? (($errors) ? 'text-danger' : 'text-info') : 'text-muted disabled'); ?>" data-toggle="tooltip" data-placement="bottom" title="<?= $step['title']; ?>">
                    <a href="#step-<?= $key ?>" data-toggle="tab">
                        <span class="icon-stack">
                            <span class="<?= (($this->pagename() == $key) ? (($errors) ? 'text-danger' : 'text-info') : 'text-muted disabled') . ' ' . $step['icon']; ?> icon-roundel-empty">
                            </span>
                        </span>
                    </a>
                </li>
    <?php
    endif;
    endforeach;
    ?>
            </ul>
        </div>
    </nav>
        <div id="form-wizard">
        <div class="navbar"></div>
        <div class="tab-content">
            <?php foreach ($this->_getParam('steps_all') as $key => $step): ?>
                <div class="tab-pane" id="#step-<?= $key; ?>"><?= $step['title']; ?> tab</div>
            <?php endforeach; ?>
        </div>
    </div><!-- End Form Wizard --><?php endif; ?>