<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="row">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#installer-navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div id="branding" class="row">
                <a class="navbar-brand no-padding no-margin no-padding-vert no-margin-vert col-lg-1 inline-block" href="#">
                    <div class="logo-wrapper">
                        <img class="logo" src="<?= $this->resource('img'); ?>logo.png" alt="" />
                    </div>
                </a>
                <div class="navbar-header col-lg-11">
                    <h1 id="navbar-heading" class="navbar-brand no-margin-vert no-padding-vert no-margin col-lg-6">System Installer</h1>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="col-lg-2 collapse navbar-collapse pull-right" id="installer-navbar">
                        <ul class="nav navbar-nav pull-right">
                            <li>
                                <a href="#" data-toggle="tooltip" data-placement="bottom" title="Home"><span class="glyphicon glyphicon-home"></span></a>
                            </li>
                            <li>
                                <a href="#" data-toggle="tooltip" data-placement="bottom" title="Import Settings"><span class="glyphicon glyphicon-cloud-download"></span></a>
                            </li>
                            <li>
                                <a href="#" data-toggle="tooltip" data-placement="bottom" title="Advanced Settings"><span class="glyphicon glyphicon-cog"></span></a>
                            </li>
                            <li>
                                <a href="#" data-toggle="tooltip" data-placement="bottom" title="Start Over"><span class="glyphicon glyphicon-trash"></span></a>
                            </li>
                        </ul>
                    </div>
                    <!-- /.navbar-collapse -->
                </div>
            </div>
        </div>
    </div>
    <!-- /.container -->
</nav>