<div id="pagewrapper">
<?= $this->part('menu'); ?>
    <!-- Page Content -->
    <div id="outer-container" class="container">
<?= $this->part('ui'); ?>
<?= $this->part('pagetitle'); ?>
<?= $this->page($this->pagename()); ?>
    <hr>
    </div><!-- /#outer-container -->
</div><!-- /#pagewrapper -->