<head>
    <?= $this->meta(); ?>
    <meta name="author" content="<?= $this->author(); ?>">
    <meta name="description" content="<?= $this->description(); ?>">
    <title><?= $this->title(); ?></title>
    <?= $this->css(); ?>
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Javascript Metadata -->
    <script type="application/javascript">
        //<![CDATA[
        window.oroboros_core_metadata = function() {return JSON.parse('<?= $this->metadata(); ?>');}
        //]]>
    </script>
</head>