<hr>
<form name="account-credentials" method="post">
    <div class="row">
        <?php if ($errors): ?>
            <div id="form-errors" class="form-group col-sm-6 pull-right">
                <div class="messages row">
                    <?php foreach ($errors as $field => $error_message): ?>
                        <div id="error-<?= $field; ?>" data-relation="<?= $field; ?>" class="alert alert-danger"><?= $error_message; ?></div>
                    <?php endforeach; ?>
                </div>
            </div>
        <?php endif; ?>
        <div class="col-sm-6">
            <div class="form-group row<?= (($errors && isset($errors->{"first-name"})) ? ' has-error has-feedback' : ''); ?>">
                <label for="first-name" class="col-sm-4 form-control-label">First Name</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" name="first-name" id="first-name" value="<?= (($post_data && isset($post_data['first-name'])) ? $post_data['first-name'] : $this->data('first-name')); ?>">
                </div>
            </div>
            <div class="form-group row<?= (($errors && isset($errors->{"last-name"})) ? ' has-error has-feedback' : ''); ?>">
                <label for="last-name" class="col-sm-4 form-control-label">Last Name</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" name="last-name" id="last-name" value="<?= (($post_data && isset($post_data['last-name'])) ? $post_data['last-name'] : $this->data('last-name')); ?>">
                </div>
            </div>
            <div class="form-group row<?= (($errors && isset($errors->{"account-username"})) ? ' has-error has-feedback' : ''); ?>">
                <label for="account-username" class="col-sm-4 form-control-label">Account Username</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" name="account-username" id="account-username" value="<?= (($post_data && isset($post_data['account-username'])) ? $post_data['account-username'] : $this->data('account-username')); ?>">
                </div>
            </div>
            <div class="form-group row<?= (($errors && isset($errors->{"account-email"})) ? ' has-error has-feedback' : ''); ?>">
                <label for="account-email" class="col-sm-4 form-control-label">Account Email</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" name="account-email" id="account-email" value="<?= (($post_data && isset($post_data['account-email'])) ? $post_data['account-email'] : $this->data('account-email')); ?>">
                </div>
            </div>
            <div class="form-group row<?= (($errors && isset($errors->{"account-password"})) ? ' has-error has-feedback' : ''); ?>">
                <label for="account-password" class="col-sm-4 form-control-label">Account Password</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" name="account-password" id="account-password" value="<?= (($post_data && isset($post_data['account-password'])) ? $post_data['account-password'] : $this->data('account-password')); ?>">
                </div>
            </div>
            <div class="form-group row<?= (($errors && isset($errors->{"account-password-repeat"})) ? ' has-error has-feedback' : ''); ?>">
                <label for="account-password-repeat" class="col-sm-4 form-control-label">Repeat Password</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" name="account-password-repeat" id="account-password-repeat" value="<?= (($post_data && isset($post_data['account-password-repeat'])) ? $post_data['account-password-repeat'] : $this->data('account-password-repeat')); ?>">
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-4"></div>
                <div class="col-sm-8">
                    <button id="installer-back-button" name="step" type="submit" class="btn btn-primary pull-right" value="<?= $this->_getParam('step_next'); ?>">Submit</button>
                    <button id="installer-next-button" name="step" type="submit" class="btn" value="<?= $this->_getParam('step_previous'); ?>">Go Back</button>
                </div>
                <div>
                    <pre><?= print_r($post_data); ?></pre>
                    <pre><?= print_r($this->data('first-name')); ?></pre>
                    <pre><?= print_r($this); ?></pre>
                </div>
            </div>
        </div>
    </div>
</form>