<hr>
<form name="database-credentials" method="post">
    <div class="row">
        <?php if ($errors): ?>
            <div id="form-errors" class="form-group col-sm-6 pull-right">
                <div class="messages row">
                    <?php foreach ($errors as $field => $error_message): ?>
                        <div id="error-<?= $field; ?>" data-relation="<?= $field; ?>" class="alert alert-danger"><?= $error_message; ?></div>
                    <?php endforeach; ?>
                </div>
            </div>
        <?php endif; ?>
        <div class="col-sm-6">
            <div class="form-group row<?= ((isset($data['errors']) && isset($data['errors']->{"database-type"})) ? ' has-error has-feedback' : ''); ?>">
                <label for="database-type" class="col-sm-4 form-control-label">Database Type</label>
                <div class="col-sm-8">
                    <select name="database-type" id="database-type" class="form-control">
                        <option value="undefined"<?= (($post_data && isset($post_data['database-type']) && $post_data['database-type'] == 'undefined') ? ' selected' : (($this->data('database-type') === 'undefined' ) || ($this->data('database-type') === NULL) ? 'selected' : NULL) ); ?>>Please Choose...</option>
                        <option value="mysql"<?= (($post_data && isset($post_data['database-type']) && $post_data['database-type'] == 'mysql') ? ' selected' : (($this->data('database-type') === 'mysql' ) ? 'selected' : NULL)); ?>>MySQL</option>
                        <option value="postgre"<?= (($post_data && isset($post_data['database-type']) && $post_data['database-type'] == 'postgre') ? ' selected' : (($this->data('database-type') === 'postgre' ) ? 'selected' : NULL)); ?>>PostgreSQL</option>
                        <option value="oracle"<?= (($post_data && isset($post_data['database-type']) && $post_data['database-type'] == 'oracle') ? ' selected' : (($this->data('database-type') === 'oracle' ) ? 'selected' : NULL)); ?>>Oracle</option>
                        <option value="mssql"<?= (($post_data && isset($post_data['database-type']) && $post_data['database-type'] == 'mssql') ? ' selected' : (($this->data('database-type') === 'mssql' ) ? 'selected' : NULL)); ?>>MSSQL</option>
                        <option value="sqlite"<?= (($post_data && isset($post_data['database-type']) && $post_data['database-type'] == 'sqlite') ? ' selected' : (($this->data('database-type') === 'sqlite' ) ? 'selected' : NULL)); ?>>SQLite</option>
                        <option value="mongo"<?= (($post_data && isset($post_data['database-type']) && $post_data['database-type'] == 'mongo') ? ' selected' : (($this->data('database-type') === 'mongo' ) ? 'selected' : NULL)); ?>>MongoDB</option>
                    </select>
                </div>
            </div>
            <div class="form-group row<?= (($errors && isset($errors->{"database-host"})) ? ' has-error has-feedback' : ''); ?>">
                <label for="database-host" class="col-sm-4 form-control-label">Database Host</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" name="database-host" id="database-host" placeholder="localhost" value="<?= (($post_data && isset($post_data['database-host'])) ? $post_data['database-host'] : $this->data('database-host')); ?>">
                </div>
            </div>
            <div class="form-group row<?= (($errors && isset($errors->{"database-name"})) ? ' has-error has-feedback' : ''); ?>">
                <label for="database-name" class="col-sm-4 form-control-label">Database Name</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" name="database-name" id="database-name" value="<?= (($post_data && isset($post_data['database-name'])) ? $post_data['database-name'] : $this->data('database-name')); ?>">
                </div>
            </div>
            <div class="form-group row<?= (($errors && isset($errors->{"database-prefix"})) ? ' has-error has-feedback' : ''); ?>">
                <label for="database-prefix" class="col-sm-4 form-control-label">Database Prefix</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" name="database-prefix" id="database-prefix" value="<?= (($post_data && isset($post_data['database-prefix'])) ? $post_data['database-prefix'] : $this->data('database-prefix')); ?>">
                </div>
            </div>
            <div class="form-group row<?= (($errors && isset($errors->{"database-username"})) ? ' has-error has-feedback' : ''); ?>">
                <label for="database-username" class="col-sm-4 form-control-label">Database Username</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" name="database-username" id="database-username" value="<?= (($post_data && isset($post_data['database-username'])) ? $post_data['database-username'] : $this->data('database-username')); ?>">
                </div>
            </div>
            <div class="form-group row<?= (($errors && isset($errors->{"database-password"})) ? ' has-error has-feedback' : ''); ?>">
                <label for="database-password" class="col-sm-4 form-control-label">Database Password</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" name="database-password" id="database-password" value="<?= (($post_data && isset($post_data['database-password'])) ? $post_data['database-password'] : $this->data('database-password')); ?>">
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-4"></div>
                <div class="col-sm-8">
                    <button id="installer-next-button" name="step" type="submit" class="btn btn-primary pull-right" value="<?= $this->_getParam('step_next'); ?>">Submit</button>
                    <button id="installer-back-button" name="step" type="submit" class="btn" value="<?= $this->_getParam('step_previous'); ?>">Go Back</button>
                </div>
            </div>
        </div>
    </div>
</form>