<div class="row">
    <hr>
    <form method="post">
        <div class="col-lg-12 form-group">
                <div class="input-group btn-group" role="group" aria-label="First group">
                    <!--<button type="button" class="btn btn-primary"></button>-->
                    <div class="pull-right">
                    <span class="input-group-addon bg-primary">
                        <input type="checkbox" aria-label="I Agree">
                    </span>
                    <button name="step" type="submit" class="btn btn-primary" value="<?= $this->_getParam('step_next'); ?>">Agree</button>
                    </div></div>
            <button name="step" type="submit" class="btn" value="<?= $this->_getParam('step_previous');  ?>">Previous</button>
        </div>
    </form>
</div>