<div class="row">
    <div class="col-lg-12">
        <form name="navigation" method="post">
            <div class="row">
                <div class="col-lg-12 form-group">
                    <hr>
                    <button id="installer-back-button" name="step" type="submit" class="btn btn-primary pull-right" value="<?= $this->_getParam('step_next'); ?>">Next</button>
                    <button id="installer-next-button" name="step" type="submit" class="btn" value="<?= $this->_getParam('step_previous'); ?>">Previous</button>
                </div>
            </div>
        </form>
    </div>
</div>